$primary:#d72323;
$secondary:#f8f8f9;
$fontColor:#1a2b40;
$gray:#f8f8f9;

@media screen and (max-width: 1200px) {}

@media screen and (max-width: 992px) {}



@media screen and (max-width: 767px) {

    // navigation menu 

    nav {
        overflow: hidden;
        .nav-menu {
            position: fixed;
            z-index: 20;
            align-items: flex-start;
            right: -300px;
            top: 0;
            transition: .5s;
            .nav-list {
                overflow: hidden;

                display: flex;
                flex-direction: column;
                width: 250px;
                height: 100vh;
                background-color: white;
                box-shadow: 2px 2px 10px $fontColor;
                justify-content: flex-start;

                li {
                    margin: 15px 0;

                    .nav-item {
                    
                        color: $primary;
                    }
                }
            }
            i{
                display: block;
                position: absolute;
                top: 10px;
                right: 10px;
                font-size: 30px;
                color: $secondary;
                padding: 3px;
                color: $primary;
               
            }
            
        }
        .nav-menu-close {
        
            i {
                
                display: block;

            }
        }
        .nav-menu.menu-active{
            right: 0px;
            
        }
    }

}

@media (max-width: 575px) {
   
    .startPage{
        height: 700px;
        .page-content .page-content-box h1 {
            font-size: 30px;
            margin: 10px 0;
        }
    }
    .tips{
        
            .tips-box{
               flex-direction: column;
                
            }
        
    }
    .about-us{
        .row{
                    h2{
           padding: 10px 0;
           text-align: center;
                    }
                }
    }
    footer{
        flex-direction: column;
       
    }
    .order-box{
        h1{
            font-size: 25px;
        }
    }
    
}

