@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");
:root {
  --secondary: #fd5d05;
  --light-gray: #cfcfcf;
  --text-color: #6d6d6d;
  --primary: #ebebe9;
  --dark-gray: #292929;
  --font1: 'Poppins', sans-serif;
  --font2: 'Poppins', sans-serif;
  --font3: 'Dancing Script', cursive;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  outline: none;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--primary);
}

header {
  width: 100%;
  height: 90px;
  -webkit-box-shadow: 0 0 3px var(--dark-gray);
          box-shadow: 0 0 3px var(--dark-gray);
}

nav {
  max-width: 1300px;
  height: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .logo img {
  width: 60px;
}

nav .logo h2 {
  font-family: var(--font1);
  color: var(--secondary);
  font-size: 40px;
  padding-left: 10px;
}

nav .logo h2 span {
  text-decoration: underline;
  -webkit-text-decoration-color: var(--text-color);
          text-decoration-color: var(--text-color);
}

nav .menu {
  list-style-type: none;
}

nav .menu li {
  display: inline-block;
}

nav .menu .nav-item {
  line-height: 90px;
  padding: 30px;
  text-transform: uppercase;
  font-family: var(--font1);
  text-decoration: none;
  color: var(--dark-gray);
  font-weight: bold;
  letter-spacing: 2px;
  outline: none;
}

nav .humburger {
  display: none;
}

main {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

main .home-title {
  font-size: 130px;
  width: 800px;
  position: absolute;
  text-align: left;
  right: 10%;
  font-family: var(--font2);
  text-transform: uppercase;
  color: var(--light-gray);
}

.home {
  z-index: 2;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.home img {
  width: 50%;
  margin-bottom: -25px;
  position: relative;
  z-index: 1;
}

.home .home-content {
  width: 450px;
  height: 100px;
  text-align: left;
  margin: 20px 0px 150px 120px;
}

.home .home-content p {
  font-family: sans-serif;
  line-height: 1.5;
}

.home .home-content .readmore a {
  display: inline-block;
  padding: 10px 20px;
  border: 2px solid var(--secondary);
  border-radius: 50px;
  color: var(--dark-gray);
  font-weight: bold;
}

.about {
  width: 100%;
  height: 100vh;
  background: var(--light-gray);
  background-image: url("../images/about-img.png");
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: right bottom;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about .about-box {
  position: relative;
  width: 50vw;
  height: 70vh;
  text-align: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.about .about-box h1 {
  font-size: 70px;
  position: absolute;
  top: 20px;
  right: 20px;
  text-align: left;
  text-transform: uppercase;
  font-family: var(--font2);
  color: var(--dark-gray);
}

.about .about-box .about-content {
  border: 2px solid var(--secondary);
  width: 400px;
  height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.about .about-box .about-content .content-box {
  margin: 50px 10px;
  text-align: left;
  line-height: 1.5;
}

.about .about-box .about-content .content-box p {
  font-family: 'Dancing Script', cursive;
}

.about .about-box .about-content .content-box .about-readmore {
  font-family: sans-serif;
  font-weight: bold;
  margin: 10px 0;
}

.about .about-box .about-content .content-box .about-readmore a {
  color: var(--secondary);
}

.trainers {
  background-color: var(--dark-gray);
  width: 100%;
  min-height: 100vh;
}

.trainers .trainers-quote {
  width: 100%;
  min-height: 30vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: var(--light-gray);
}

.trainers .trainers-quote h1 {
  font-size: 50px;
  font-family: var(--font1);
}

.trainers .trainers-quote p {
  text-align: center;
  width: 60%;
  font-family: var(--font3);
}

.trainers .trainers-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 60vh;
}

.trainers .trainers-info .trainers-item {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.trainers .trainers-info .trainers-item .trainer-name {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
  background-color: var(--secondary);
  top: 0px;
  -webkit-clip-path: circle(4% at 50% 100%);
          clip-path: circle(4% at 50% 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--dark-gray);
  font-size: 30px;
  text-align: center;
  font-family: var(--font1);
  -webkit-transition: .5s;
  transition: .5s;
}

.trainers .trainers-info .trainers-item:hover .trainer-name {
  -webkit-clip-path: circle(150% at 0% 0%);
          clip-path: circle(150% at 0% 0%);
}

.price {
  width: 100%;
  min-height: 100vh;
  background-color: var(--light-gray);
}

.price h1 {
  text-align: center;
  font-family: var(--font1);
  text-transform: uppercase;
  font-size: 50px;
  padding: 20px 0;
}

.price .price-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.price .price-list .price-item {
  width: 18%;
  height: 500px;
  border: 2px solid var(--dark-gray);
  -webkit-transition: .5s;
  transition: .5s;
  position: relative;
  z-index: 1;
}

.price .price-list .price-item::before {
  content: "";
  width: 100%;
  height: 100%;
  -webkit-clip-path: circle(0% at 0% 0%);
          clip-path: circle(0% at 0% 0%);
  background-color: var(--secondary);
  position: absolute;
  -webkit-transition: 1s;
  transition: 1s;
  z-index: -1;
}

.price .price-list .price-item:hover::before {
  -webkit-clip-path: circle(190% at 0% 0%);
          clip-path: circle(190% at 0% 0%);
}

.price .price-list .price-item:hover {
  height: 520px;
  width: 20%;
  border: 0;
}

.price .price-list .price-item .time {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 0;
  font-family: var(--font2);
  height: 150px;
}

.price .price-list .price-item .time span {
  display: inline-block;
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid var(--dark-gray);
  border-radius: 100px;
}

.price .price-list .price-item .time p {
  padding: 10px 0;
  text-transform: uppercase;
}

.price .price-list .price-item p.price-content {
  width: 90%;
  text-align: center;
  margin: auto;
  height: 150px;
  font-family: var(--font3);
  font-weight: 300;
}

.price .price-list .price-item .price-box {
  height: 170px;
  text-align: center;
  -webkit-transition: .5s;
  transition: .5s;
}

.price .price-list .price-item .price-box h3 {
  font-family: var(--font2);
  font-size: 30px;
  padding: 10px 0;
  letter-spacing: 4px;
}

.price .price-list .price-item .price-box p {
  font-family: var(--font2);
}

.contact {
  width: 100%;
  height: 100vh;
  background-color: var(--dark-gray);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: url("../images/therock.png");
  background-size: 30%;
  background-repeat: no-repeat;
  background-position: right bottom;
}

.contact .contact-address {
  width: 80%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact .contact-address .contact-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: var(--font1);
  border: 2px solid var(--secondary);
  padding: 30px;
}

.contact .contact-address .contact-box h2 {
  font-size: 30px;
  color: var(--secondary);
  margin-bottom: 20px;
}

.contact .contact-address .contact-box input {
  width: 400px;
  height: 50px;
  margin-bottom: 20px;
  border-radius: 40px;
  border: 0;
  padding-left: 20px;
  border: 2px solid var(--text-color);
  background-color: var(--primary);
}

.contact .contact-address .contact-box button {
  width: 100px;
  height: 40px;
  border: 2px solid var(--secondary);
  border-radius: 40px;
  color: var(--primary);
  text-transform: uppercase;
  font-family: var(--font1);
  background-color: var(--dark-gray);
}

.contact .location {
  width: 100%;
  height: 100vh;
}

footer {
  height: 30vh;
  width: 100%;
  background-color: var(--secondary);
}

footer .footer-content {
  max-width: 1300px;
  margin: auto;
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-family: var(--font1);
}

footer .footer-content table tr .address-title {
  font-size: 20px;
}

footer .footer-content .socialmedia h3 {
  padding-bottom: 20px;
}

footer .footer-content .socialmedia .social-item a i {
  font-size: 30px;
  margin: 0 10px;
  color: black;
}

footer .copyright {
  text-align: center;
  font-family: var(--font1);
  border-top: 2px solid var(--dark-gray);
  padding: 10px 0;
}

.toTop {
  width: 40px;
  height: 40px;
  background-color: var(--dark-gray);
  border: 1px solid var(--primary);
  position: fixed;
  right: 30px;
  bottom: 20px;
  z-index: 20;
  border-radius: 50%;
  text-align: center;
}

.toTop i {
  line-height: 35px;
  color: white;
  font-size: 20px;
}
/*# sourceMappingURL=mystyle.css.map */